{% extends 'layout.html' %}

{% block body %}
<h1>{{thread.title}}</h1>

<div>
    {% for comment in comments %}
    <table class="table">
        <tr> {{ comment.user }}
            <td>
                {% if comment.parent_id is not none %}
                <h4>vastaus > {{ comment.parent_id }}</h3>
                    {% endif %}
                    <p> {{ comment.text }} </p>
            </td>
        <tr>
            {% if current_user.is_authenticated %}
           
            <td>
                <a href="{{url_for('reply', thread_id=thread.id, comment_id=comment.id)}}">Reply</a>
            </td>
            {% endif %}

            {% if current_user.get_id() == comment.account %}
            <td>
                    <a href="{{url_for('edit_comment', comment_id=comment.id)}}">Edit</a>
            </td>

            <td>
                <a href="{{url_for('delete_comment', thread_id=thread.id, comment_id=comment.id)}}">Delete</a>
            </td>
            {% endif %}
        </tr>
        {{ comment.account }}
        </tr>

    </table>


    {% endfor %}
</div>

<div>
    <h2> New Comment</h2>
    <form method="POST" id="new_form">
        <div class="form-group">
            {{form.text(rows='25',cols='100')}}
        </div>
        <p><input class="btn btn-primary" type="submit" value="submit"></p>

    </form>
</div>
<div>
    <a href="{{url_for('index')}}">Etusivulle</a>
    <a href="/{{thread.category}}/threads/">Takaisin</a>

</div>
{% endblock %}